body {
  font-family: sans-serif;
}

h1, h2 {
  text-align: center;
}

form {
  text-align: center;
}

#ingredientes {
  width: 80%;
  padding: 10px;
  font-size: 16px;
}

#buscar {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 20px;
  cursor: pointer;
}

#recetas {
  margin-top: 50px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 10px;
}
